<secion id="datenschutz" class="regulation">
  <div class="wrapper">
    <h2 id="datenschutz-heading" class="entry-title">Datenschutzerklärung</h2>
    <div class="entry-content accordion">
      <section class="entry-content clearfix">
        <p class="intro">
          Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen.
        </p>
        <p class="intro">
          Wir verarbeiten Ihre Daten daher ausschließlich auf Grundlage der
          gesetzlichen Bestimmungen (DSGVO, TMG). In diesen Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer Website.  </p>
        <h2></h2>
        <h2>Kontakt mit uns</h2>
        <p>
          Wenn Sie per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen Daten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen sechs Monate bei uns gespeichert.  </p>
        <h2>Datenlöschung und Speicherung</h2>
        <p>
          Ihre personenbezogenen Daten werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine längere Speicherung kann dann erfolgen, wenn der Löschung eine gesetzliche Aufbewahrungsfrist z.B.  aus der Abgabenordnung oder dem HGB entgegensteht. Eine Weitergabe an Dritte erfolgt nicht.
        </p>
        <h2>Cookies</h2>
        <p>
          Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an.<br />
          Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten.  Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.<br />
          Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben.<br />
          Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.
        </p>
        <h2>Rechtsgrundlage</h2>
        <p>
          Die Datenverarbeitung erfolgt auf Basis der gesetzlichen Bestimmungen und folgender Rechtsgrundlagen:
        </p>
        <ul>
          <li>Einwilligung</li>
          <li>Vertragserfüllung oder vorvertragliche Maßnahmen</li>
          <li>rechtliche Verpflichtungen</li>
          <li>
            Zur Wahrung eines berechtigten Interesses, die Interessen, Grundrechte und Grundfreiheiten der Betroffenen überwiegen das erstgenannte Interesse nicht. 
           </li>
        </ul>
      </section>
      <h2>Eingebettete Inhalte</h2>
      <p>
        Beiträge auf dieser Website können eingebettete Inhalte beinhalten (z.  B. Videos, Bilder, Beiträge etc.). Eingebettete Inhalte von anderen Websites verhalten sich exakt so, als ob der Besucher die andere Website besucht hätte.<br />
        Diese Websites können Daten über Sie sammeln, Cookies benutzen, zusätzliche Tracking-Dienste von Dritten einbetten und Ihre Interaktion mit diesem eingebetteten Inhalt aufzeichnen, inklusive Ihrer Interaktion mit dem eingebetteten Inhalt, falls Sie ein Konto haben und auf dieser Website angemeldet sind. Nähere Informationen über den Datenschutz erhalten Sie bei dem jeweiligen Anbieter.
      </p>
      <section class="entry-content clearfix">
        <h2>Ihre Rechte</h2>
        <p>
          Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. In Deutschland sind dies die jeweiligen Landes Datenschutzbeauftragten.<br />
           <strong>Sie erreichen uns unter folgenden Kontaktdaten:</strong><br />
          BÜNDNIS 90/DIE GRÜNEN, Ortsverband Schwalmtal, Lange Straße 12, 41366 Schwalmtal, Info@Gruene-Schwalmtal.de,<br />
          Unseren Datenschutzbeauftragten erreichen Sie unter Datenschutz@Gruene-Kreis-Viersen.de, 02162/3690055
        </p>
      </section>
    </div>
  </div></secion
>
