<section class="wrapper style1 align-center" id="donation">
    <div class="inner">
        <h2>Sie möchten meinen Wahlkampf unterstützen?</h2>
        <p>Bei jedem Wahlkampf fallen vielfältige Aufgaben an. Was Sie einbringen können und möchten kann ganz
            unterschiedlich sein: Zeit &amp; Tatkraft bspw. beim Plakatieren und Flyern, Zeit &amp; Überzeugungskraft
            bspw. am Infostand und an der Haustür, Know-how für PR und Social Media, Organisationstalent für
            Veranstaltungen oder ganz praktische Dinge wie Leitern, Lastenräder und Fahrzeuge. Schreiben Sie dem
            Wahlkampf-Team über das <a href="https://www.gruene-schwalmtal.de/kontakt/" target="_blank"
                rel="noopener noreferrer">Kontaktformular</a> eine kurze Nachricht, wenn Sie sich aktiv einbringen
            möchten.
            <br><br>
            <strong>PS: Auch finanzielle Unterstützung wird in einem Wahlkampf gebraucht. Daher freue ich mich auch über
                Ihre Spende!<strong>
                    <!-- twingle -->
                    <script type="text/javascript">
                        (function () {
                            var u = "https://spenden.twingle.de/embed/bundnis-90-die-grunen-schwalmtal/buergermeisterinwahl-miriam-auner/tw67bd86491f15b/widget";
                            var id = '_' + Math.random().toString(36).substr(2, 9);
                            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0], t = d.createElement('div');
                            t.id = 'twingle-public-embed-' + id;
                            document.currentScript.after(t);
                            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + '/' + id; s.parentNode.insertBefore(g, s);
                        })();
                    </script>
                    <!-- twingle -->

                </strong></strong>
        </p>

</section>