<section class="wrapper style1 align-center" id="donation">
    <div class="inner">
        <h2 id="donation">Du möchtest meinen Wahlkampf unterstützen?</h2>
        <p class="paragraph">Das freut mich riesig! Ob beim Wahlstand, beim Flyerverteilen oder bei der Veranstaltungsorganisation, jede helfende Hand, jede gute Idee und jedes überzeugende Gespräch zählt. <a href="mailto:team-miriam@miriam-auner.de">Schreib mir</a>, wenn du mein Team bereichern möchtest. Wir freuen uns und melden uns schnell zurück.

Und wenn du meinen Wahlkampf finanziell unterstützen möchtest, hilft das natürlich auch enorm. Jede Spende, egal in welcher Höhe, bringt uns ein Stück weiter. Danke!  
        </p>
                   <!-- twingle -->
<script type="text/javascript">
	(function() {
		var u="https://spenden.twingle.de/embed/bundnis-90-die-grunen-schwalmtal/buergermeisterinwahl-miriam-auner/tw67bd86491f15b/form";
		var id = '_' + Math.random().toString(36).substr(2, 9);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0], t=d.createElement('div');
        t.id = 'twingle-public-embed-' + id;
        document.currentScript.after(t);
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/'+id; s.parentNode.insertBefore(g,s);
	})();
</script>
<!-- twingle -->


                </strong></strong>

</section>