<!-- Footer -->
<secion id="impressum" class="regulation">
  <div class="wrapper">
    <h2 id="impressum-heading">Impressum</h2>
    <h5>BÜNDNIS 90/DIE GRÜNEN</h5>
    <h6>
      Ortsverband Schwalmtal (Kreisverband Viersen, NRW)<br />
      Website: www.miriam-auner.de
    </h6>
    <p>
      <strong>Geschäftsstelle</strong><br />
      Lange Straße 12<br />
      41366 Schwalmtal<br />
      team-miriam@miriam-auner.de<br />
      Telefon: Geschäftsstelle Kreisverband, Zuständigkeit OV Schwalmtal: (0 21
      62) 369 00 53
    </p>
    <p>
      <strong>Vertretungsberechtigter Vorstand</strong><br />
      Paul Lentzen (Vorsitzender)<br />
      E-Mail: paul.lentzen@gruene-schwalmtal.de
    </p>
    <p>
      <strong>Verantwortlich für den Inhalt<br /> </strong>gemäß § 55 Abs. 2
      RStV<br />
      Paul Lentzen (Redaktion &amp; Administration)
    </p>
    <h2>Datenschutz</h2>
    <p>
      Der Schutz Ihrer persönlichen Daten ist uns ein wichtiges Anliegen.  Persönliche Daten, die Sie BÜNDNIS 90/DIE GRÜNEN, Ortsverband und Ratsfraktion Schwalmtal, elektronisch übermitteln, z. B. Ihren Namen und Ihre E-Mail-Adresse oder andere persönlichen Angaben, werden von uns nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.
    </p>
    <h2>Haftung für Links</h2>
    <p>
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
    <!-- <h2>Bildnachweise</h2>
  <p>
    Neben eigenen Fotos und Grafiken nutzen wir unter www.gruene-schwalmtal.de
    soweit nicht anders gekennzeichnet Bildmaterial folgender freier
    Bilddatenbanken bzw. Anbieter:<br />
    
  </p> -->
  </div>
</secion>
