<!-- Footer -->
<secion id="impressum" class="regulation">
  <div class="wrapper">
    <h1 id="impressum-heading">Impressum</h1>

    <p>
      B&uuml;ndnis 90/Die Gr&uuml;nen OV Schwalmtal<br />
      Lange Str. 12<br />
      41366 Schwalmtal
    </p>

    <p>
      <strong>Vertreten durch:</strong><br />
      Paul Lentzen<br />
      Biggi Mestm&auml;cker
    </p>

    <h2>Kontakt</h2>
    <p>
      Telefon: 02163201544<br />
      Telefax: 02163201545<br />
      E-Mail:
      <a href="mailto:info@gruene-schwalmtal.de">info@gruene-schwalmtal.de</a>
    </p>

    <h2>Redaktionell verantwortlich</h2>
    <p>
      Biggi Mestm&auml;cker <br />
      Lange Str. 12<br />
      41366 Schwalmtal
    </p>

    <h2>
      Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
    </h2>
    <p>
      Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
      einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>
  </div>
</secion>
